*{

	margin:0;
	padding: 0;
	text-decoration: nome;
	font-family: montserrat;

}

fieldset{
	margin-top: 100px;
}

p {
	padding-left: 50px;
	padding-right: 50px;
	line-height: 1.8;

}



h1 {

	display: flex;
  	justify-content: center;

}

container{

	padding-right: 250px;
	padding-left: 250px;
}

form #acesso {

	padding-left: 0px;
	padding-right: 20px;
	


}

form #cabecalho{

	background-color: #a51b0b;
	justify-content: center;

}

h11 {
    color:red;
}

body{

	background: #FFFFFF url("dunoslide.jpg") no-repeat right top fixed;
	background-size: 100%;
}

